[Unit]
Description = MyBook external drive

[Mount]
What = UUID=c7d82893-e58b-4026-8b7d-33a79f683231
Where = {{ external_drive_mount_dir }}
Type = ext4
TimeoutSec = 10

[Install]
WantedBy = multi-user.target
